* {
    font-family: Roboto;
   
    
}

.wrap {
    display: flex;
    justify-content: center;
    
}

.post {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: #202020;
    padding: 25px;
}

.text {
    
}

h3 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.description {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #D2D2D2;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    color: #828282;
    font-size: 12px;
    padding-right: 15px;
}

a {
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;

}

.x {
    display: flex;
    align-items: center;

}

.ellipse {
    margin-right: 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #C4C4C4;
}

.wrapper {
    background-color: #202020;
}

.l {
    display: flex;
    align-items: stretch;
}

h4 {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    color: #FFFFFF;
}

.user {
    margin-left: 10px;
}

.time {
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    margin: 0;
    margin-bottom: 10px;
}

.comment {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.write {
    font-weight: 400;
    font-size: 12px;
    color: #107EFF;
    cursor: pointer;
}

.elli {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #C4C4C4;
}